<li *ngIf="menuItem">
  <div class="nav-menu__list-item">
    <a [routerLink]="[menuItem.route]" [routerLinkActive]="['nav-menu__list-item-link--active']" [routerLinkActiveOptions]="{exact:true}" class="nav-menu__list-item-link">
      <go-icon icon="{{ menuItem.routeIcon }}" [classes]="['nav-menu__list-icon']"></go-icon>
      <span class="nav-menu__list-title">{{ menuItem.routeTitle }}</span>
    </a>
    <go-icon icon="expand_more"
           [classes]="['nav-menu__list-expand-icon', expanded ? 'nav-menu__list-expand-icon--expanded' : '']"
           *ngIf="menuItem.subRoutes"
           (click)="toggleExpand()"></go-icon>
  </div>
  <ul class="nav-menu__sub-nav" *ngIf="menuItem.subRoutes && expanded">
    <li *ngFor="let item of menuItem.subRoutes">
      <a [routerLink]="[item.route]" [routerLinkActive]="['nav-menu__list-item-link--active']" [routerLinkActiveOptions]="{exact:true}" class="nav-menu__list-item-link">
        <span class="nav-menu__sub-nav-title">{{ item.routeTitle }}</span>
      </a>
    </li>
  </ul>
</li>