@import "~@tangoe/gosheets/base/variables";
@import "~@tangoe/goponents/styles/mixins";

.nav-menu__list {
  padding: 2rem 0;

  li {
    display: flex;
    flex-direction: column;
  }

  a, a:visited, a:focus, a:active {
    color: $theme-dark-color;
  }

  a {
    align-items: center;
    border: none;
    display: flex;
    flex-grow: 1;
    position: relative;
  }
}
