// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Headings
h1,
.go-heading-1 {
  font-family: $heading-font-family;
  font-size: 6rem;
  font-weight: $weight-light;
  letter-spacing: -1.5pt;
  margin-bottom: .25rem;
}

h2,
.go-heading-2 {
  font-family: $heading-font-family;
  font-size: 3.75rem;
  font-weight: $weight-light;
  letter-spacing: -.5pt;
  margin-bottom: .25rem;
}

h3,
.go-heading-3 {
  font-family: $heading-font-family;
  font-size: 3rem;
  font-weight: $weight-regular;
  letter-spacing: 0;
  line-height: 1.2;
  margin-bottom: .25rem;
}

h4,
.go-heading-4 {
  font-family: $heading-font-family;
  font-size: 2.125rem;
  font-weight: $weight-regular;
  letter-spacing: .25pt;
  line-height: 1.2;
  margin-bottom: .25rem;
}

h5,
.go-heading-5 {
  font-family: $heading-font-family;
  font-size: 1.5rem;
  font-weight: $weight-bold;
  letter-spacing: 0;
  line-height: 1.2;
  margin-bottom: .5rem;
}

h6,
.go-heading-6 {
  font-family: $heading-font-family;
  font-size: .875rem;
  font-weight: $weight-bold;
  letter-spacing: 1pt;
  line-height: 1.3;
  margin-bottom: .5rem;
}

p,
.go-body-copy {
  font-size: 1rem;
  letter-spacing: .5pt;
  line-height: 1.5;
  margin-bottom: .75rem;
}

.go-heading--no-margin,
.go-body-copy--no-margin {
  margin: 0;
}

// Button
button {
  font-size: 0.875rem;
  letter-spacing: 1.25pt;
  text-transform: uppercase;
}

// Extras
caption {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.4pt;
  margin: 1rem 0;
  text-align: left;
}

.overline {
  display: block;
  font-size: 0.625rem;
  letter-spacing: 1.5pt;
  margin-bottom: -0.25rem;
  position: relative;
  text-transform: uppercase;
}

.go-page-title {
  padding: 0 1rem 1rem 1rem;
}

pre {
  margin: 0.5rem 0;
}

a {
  border-bottom: 1px solid $base-primary;
  color: $base-primary;
  @include transition(all);

  &:visited, &:active, &:focus {
    color: $base-primary;
  }

  &:hover {
    border-bottom-width: 2px;
  }
}

ol {
  list-style: decimal;
  margin: 0.75rem 0;
  padding-left: 1rem;
}
