strong {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

// Button
button {
  font-size: 0.875rem;
  letter-spacing: 1.25pt;
  text-transform: uppercase;
}

// Extras
caption {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.4pt;
  margin: 1rem 0;
  text-align: left;
}

.overline {
  display: block;
  font-size: 0.625rem;
  letter-spacing: 1.5pt;
  margin-bottom: -0.25rem;
  position: relative;
  text-transform: uppercase;
}

.go-page-title {
  padding: 0 1rem 1rem 1rem;
}

pre {
  margin: 0.5rem 0;
}

a {
  border-bottom: 1px solid;
  color: $theme-light-color;
  transition: .25s cubic-bezier(.25, .8, .25, 1);

  &:visited, &:active, &:focus {
    color: $theme-light-color;
  }

  &:hover {
    color: $ui-color-neutral;
    // border-bottom-width: 2px;
  }
}

ol {
  list-style: decimal;
  margin: 0.75rem 0;
  padding-left: 1rem;
}
