<div class="main">
  <header class="main__header">
    <div class="header__logo">
      <img src="assets/images/goDesign.svg"/>
    </div>
    <!-- <div class="header__search">
      Search...
    </div>
    <div class="header__theme-switcher">
      <i class="material-icons">format_paint</i>
    </div> -->
  </header>
  <div class="main__content">
    <nav class="main__nav">
      <nav-sidebar></nav-sidebar>
    </nav>
    <main class="main__route-container" [@routerAnimation]="getRouteAnimation(o)">
      <router-outlet class="main__route-container-outlet" #o="outlet"></router-outlet>
    </main>
  </div>
</div>

<go-modal></go-modal>