<div class="main">
  <header class="main__header">
    <div class="header__logo">
      <img src="assets/tangoe-logo-green.png"/>
    </div>
    <div class="header__search">
      Search...
    </div>
    <div class="header__theme-switcher">
      <i class="material-icons">format_paint</i>
    </div>
  </header>
  <div class="main__content">
    <nav class="main__nav">
      <nav-sidebar></nav-sidebar>
    </nav>
    <div class="main__route-container" [@routerAnimation]="getRouteAnimation(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>
